/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }

  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
  }

  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Navbar */
/* Navbar.css */
.navbar {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.logo {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links .logout-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}

.nav-links .logout-button:hover {
  background-color: #e53935;
}

.nav-links li .active-link {
  color: #ff5722;
}

/* Responsive Menu */
.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

/* When the screen is smaller than 768px */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
    text-align: center;
  }

  .nav-links a {
    font-size: 20px;
  }
  
  
  
}


  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-about,
  .footer-contact {
    flex: 1;
    margin: 20px;
    min-width: 250px;
  }
  
  .footer-about h4,
  .footer-contact h4 {
    margin-bottom: 10px;
    color: white;
  }
  
  .footer-about p,
  .footer-contact p {
    font-size: 18px;
    color: #6c757d;
  }
  
  .footer p {
    margin-top: 20px;
    font-size: 12px;
    color: #adb5bd;
  }
  
  
  /* Homepage */
  .home-page {
    text-align: center;
    padding: 20px;
    max-width: 100%;
  }
  
  .category-section {
    padding: 20px;
  }
  
  .category-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .category-card {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    transition: transform 0.3s;
  }
  
  .category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .category-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .category-card:hover {
    transform: scale(1.05);
    background-color: #555;
    color: white;
  }
  
  /* Center the page content vertically */
  .home-page {
    min-height: calc(100vh - 100px); /* Adjust this based on navbar and footer height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h2 {
    margin: 20px 0;
  }
  

  .banner-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .banner-slide {
    display: flex;
    gap: 20px;
    width: auto;
    animation: slide 15s linear infinite;
  }
  
  .banner-slide:hover{
    animation-play-state: paused;
  }

  .banner-slide img {
    width: 100%;
    height: 500px;
  }
  
  @keyframes slide {
    from{
      transform: translateX(0);
    }
    to {
      transform: translateX(-210%);
    }
  }
  
  .banner-container > .hero-section{
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding: 20px;
    z-index: 1;
    top: 40%;
    left: 30%;
    color: whitesmoke;
    font-weight: bold;
  }
  .banner-container > .hero-section > p{
    color: black;
  }

  @media (max-width: 460px){
    .banner-container > .hero-section{
      position: absolute;
      background-color: #6c757d;
      backdrop-filter: blur(5px);
      width: 70%;
      padding: 10px;
      z-index: 0;
      top: 35%;
      left: 15%;
      color: black;
      font-weight: bold;
      font-size: 12px;
    }
    .banner-slide img {
      width: 100%;
      height: 200px;
    }
    .category-section{
      margin-top: 50%;
    }
    .cart-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  
  /* Product Page */
  .product-page {
    padding: 20px;
    margin-top: 50px; /* To avoid overlap with navbar */
    max-width: 100%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sub-navbar {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    position: sticky;
    top: 70px;
    z-index: 10;
  }
  
  .sub-navbar button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sub-navbar button:hover {
    background-color: #45a049;
  }
  
  .sub-navbar button.active {
    background-color: #333;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .productcard{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.5s ease;
  }

  .product-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .product-card > .product-image {
    display: flex;
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .product-card p {
    font-size: 14px;
    color: #555;
  }
  
  .product-card .price {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }  

.product-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.product-card button:hover {
  font-weight: bold;
}

.productcard:hover{
  transform: scale(1.05);
  background-color: #555;
}

.cart-buttons{
  margin: 2px;
  display: flex;
  gap: 10px;
}

.add-to-cart{
  padding: 10px;
}

.go-to-cart {
  padding: 10px;
  background-color: #ff7f50;
  color: white;
  border: none;
  cursor: pointer;
}

.go-to-cart:hover {
  background-color: #ff5722;
}

/* Cart Page Styling */
.cart-page {
  padding: 20px;
  text-align: center;
}

.cart-items {
  margin: 20px 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px;
  height: auto;
}

.cart-item h3 {
  margin: 0;
}

button:disabled {
  background-color: #d3d3d3;
  color: #8c8c8c;
  cursor: not-allowed;
}

.checkout-form {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.checkout-form input, textarea, label{
  margin: 10px;
  padding: 5px;
  width: auto;
}
.checkout-form > button{
  margin: 10px;
  width: auto;
}

  .product-page {
    padding: 20px;
    text-align: center;
  }

  .product-page > .sub-navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: auto;
    text-align: center;
  }
  .product-page > .sub-navbar > button{
    width: 200px;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Profile Page */
  
  .profile-details label {
    display: block;
    width: auto;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .profile-details input,
  .profile-details textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  /* Purchase History */
  .purchase-history h3 {
    margin: 20px 0;
    color: #007bff;
  }
  
  .purchase-history ul li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }

  /* Login/Register Pages */
  .login-page,
  .register-page {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-page h2,
  .register-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .login-page label,
  .register-page label {
    display: block;
    width: auto;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .login-page input,
  .register-page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-page button,
  .register-page button {
    width: 100%;
    background-color: #007bff;
  }

  .login-page p,
  .register-page p {
    padding: 5px;
  }
  
  .login-page p > b,
  .register-page p > b {
    color: #28a745;
    text-decoration: underline;
  }

  .login-page button:hover,
  .register-page button:hover {
    background-color: #0056b3;
  }
  
  .app {
    padding-top: 60px; /* Ensure there's space for the navbar */
  }
  
  .main-content {
    padding: 20px;
  }
  
  /* About Page */
/* .about-page {
  padding: 20px;
  text-align: center;
}

.about-page h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-page p {
  font-size: 18px;
  margin: 10px 0;
}

/* Contact Page
.contact-page {
  padding: 20px;
  text-align: center;
}

.contact-page h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-page ul {
  list-style-type: none;
  padding: 0;
}

.contact-page li {
  font-size: 18px;
  margin: 10px 0;
} */
